<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="P2.Properties.Settings.Programa2ConnectionString"
      connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Programa2.mdb"
      providerName="System.Data.OleDb" />
    <add name="P2.Properties.Settings.Programa2ConnectionString1"
      connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Programa2.mdb"
      providerName="System.Data.OleDb" />
    <add name="P2.Properties.Settings.Programa2ConnectionString2"
      connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Programa2.mdb"
      providerName="System.Data.OleDb" />
    <add name="P2.Properties.Settings.VenezuelaConnectionString"
      connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\bin\Debug\Venezuela.mdb"
      providerName="System.Data.OleDb" />
    <add name="P2.Properties.Settings.Programa2ConnectionString3"
      connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Programa2.mdb"
      providerName="System.Data.OleDb" />
    <add name="P2.Properties.Settings.Programa2ConnectionString4"
      connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Programa2.mdb"
      providerName="System.Data.OleDb" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="rutaDatos" value="E:\P2\Datos" />
    <add key="Resoluciones_favorables" value="ResFavP2.doc" />
    <add key="Resoluciones_favorables_Venezuela" value="ResFavP2.doc" />
    <add key="Resoluciones_favorables_Colombia" value="ResFavP2CO.doc" />
    <add key="Resoluciones_favorables_Dominicana" value="ResFavP2RD.doc" />
    <add key="Resoluciones_Denegatorias" value="ResDenP2.doc" />
    <add key="Justificantes" value="Justificante.doc" />
    <add key="Justificantes_Venezuela" value="Justificante.doc" />
    <add key="Justificantes_Colombia" value="JustificanteCD.doc" />
    <add key="Justificantes_Dominicana" value="JustificanteCD.doc" />
    <add key="Desfavorable_Venezuela" value="ResDenP2.doc" />
    <add key="Desfavorable_Colombia" value="ResDenP2CO.doc" />
    <add key="Desfavorable_Dominicana" value="ResDenP2CD.doc" />
    <add key="Desestimiento_Venezuela" value="ResDesestimiento.doc" />
    <add key="Desestimiento_Colombia" value="ResDesestimiento.doc" />
    <add key="Desestimiento_Dominicana" value="ResDesestimiento.doc" />
    <add key="Revision_Favorable_Venezuela" value="resfavRevision.doc" />
    <add key="Revision_Favorable_Colombia" value="resfavRevision.doc" />
    <add key="Revision_Favorable_Dominicana" value="resfavRevision.doc" />
    <add key="Solicitud_Duplicada_Venezuela" value="resfavRevision.doc" />
    <add key="Solicitud_Duplicada_Colombia" value="resfavRevision.doc" />
    <add key="Solicitud_Duplicada_Dominicana" value="resfavRevision.doc" />
    <add key="Recursos_de_Reposicion" value="Justificante.doc" />
    <add key="Requisitos_y_plazos" value="Justificante.doc" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>